.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
}

.card {
  width: calc(28.33% - 20px);
  margin: 5px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

.card button {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #45a049;
}

.card a {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 10px;
  text-decoration: none;
  color: #0066cc;
  border: 1px solid #0066cc;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.card a:hover {
  background-color: #0066cc;
  color: #fff;
  border-color: #fff;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 28px;
  color: #333;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

#register-button {
  background-color: #2196f3;
}

#register-button:hover {
  background-color: #0d8bf2;
}

form {
  margin-top: 20px;
}
